<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<head>
    <title>Wichteln</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="#" th:src="@{/js/dynamic-form.js}" defer></script>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                <div class="container">
                    <h1>Wichteln</h1>
                    <div id="dynamic-form">
                        <dynamic-form></dynamic-form>
                    </div>
                    <a class="btn btn-primary" href="#" role="button">Wichtelevent</a>
                </div>
            </div>
            <div class="col">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email Addresse</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Passwort</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.js"></script>
</body>
</html>