<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">

    <title>Wichteln</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Hier wird demnächst eine schöne Seite entstehen</p>
            </div>
            <div class="col-8">
                <div class="container">
                    <h1>Wichteln</h1>
                    <h2>work in progress</h2>
                    <p>Hier wird demnächst eine schöne Seite entstehen</p>
                    <a class="btn btn-primary" href="#" role="button">Wichtelevent</a>
                </div>
            </div>
            <div class="col">
                <p>Hier wird demnächst eine schöne Seite entstehen</p>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.js"></script>
</body>
</html>